.THIS.main {
    height:100vh;
    background-color: white;
}

.THIS .slds-truncate {
    padding-top: 10px;
}

.THIS .folders {
    display: none;
}

.THIS .email-template {
    height: 90%;
    width: 100%;
    margin: auto;
    background-color: #e0e0e0;
}

.THIS .slds-box editor slds-text-longform {
    background: white;
}

.THIS .slds-tree__item {
    font-size: 15px;
}

.THIS #button-menu {
    text-align: right;
}

.THIS .card-form {
    box-shadow: 2px 2px 3px 1px rgba(1, 1, 1, .6);
    padding:10px;
    background: white;
    width: 70%;
    height: 100%;
    position: fixed;
    left:30%;
    top: 0;
    margin:30px 0 0 -250px;
    z-index: 22;
    font-size: 15px;
    color: black;
}

.THIS .selected-template-type {
    font-size: 15px;
}

.THIS .folder-select span {
    font-size: 15px;
    color: black;
}

.THIS .slds-form-element {
    border: none;
    background-color: #e0e0e0;
}

.THIS .slds-form-element label {
    font-size: 15px;
    color: black;
}

.THIS .slds-form-element span {
    padding-left: 10px;
    padding-bottom: 10px;
}

.THIS .slds-input {
    width: 100%;
}

.THIS .slds-card {
    background-color: #e0e0e0;
    height: 90%;
}

.THIS .slds-rich-text-editor__toolbar {
    background-color: #e0e0e0;
}

.THIS .recipient-editform {
    font-size: 15px;
}

.THIS .recipient-editform p {
    padding-left: 15px;
    padding-top: 15px;
    display: inline-block;
}

.THIS .uiOutputText {
    font-size: 15px;
}

.THIS #recipient-edit:hover {
    color: rgba(27, 82, 151, 1.0);
    text-decoration: underline;
    cursor: pointer;
}

.THIS .slds-select_container {
    width: 98%;
    margin: auto;
    margin-bottom: 13px;
}

.THIS .hiddenDiv {
    display: none;
}

.THIS .uiInputCheckbox {
    margin-left: 35px;
    margin-top: 32px;
}

.THIS .checkbox-comment {
    margin-top: 30px;
}

.THIS .button {
    margin-bottom: 5px;
    margin-left: 3px;
}